* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50vh);

  .field {
    border: 1px solid #555;
    padding: 10px;
  }
  .html-box {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .css-box {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .js-box {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .result-box {
    grid-column: 1/4;
    grid-row: 2/3;
  }
}